<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zimug.imooc.websky.baseauth.api.mapper.SysRoleExtMapper" >

  <sql id="Base_Column_List" >
    id, role_id, role_name, remarks, sort
  </sql>

  <select id="listRole" resultType="com.zimug.imooc.websky.common.model.SysRole">
    SELECT
    <include refid="Base_Column_List" />
    FROM sys_role
    <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
      <if test="roleId !=null and roleId != '' " >
        AND  role_id LIKE CONCAT('%',#{roleId},'%')
      </if>
      <if test="roleName !=null and roleName != '' " >
        AND  role_name LIKE CONCAT('%',#{roleName},'%')
      </if>
    </trim>
  </select>

</mapper>