<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zimug.imooc.websky.baseauth.api.mapper.SysUserExtMapper" >

  <sql id="Base_Column_List" >
    id, user_id, user_name, password, salt, org_id, phone, address, sex, email, remarks, 
    create_date, head_image, status
  </sql>

  <select id="getUser" resultType="com.zimug.imooc.websky.baseauth.api.model.SysUserRoleOrg">
    SELECT u.* ,b.role_names,b.role_ids,o.org_name
    FROM sys_user u
    LEFT JOIN
    (
        SELECT GROUP_CONCAT(role_name) role_names,GROUP_CONCAT(ur.role_id) role_ids,ur.user_id
        FROM sys_user_role ur
        JOIN sys_role r ON ur.role_id = r.role_id
        GROUP BY ur.user_id
    ) b ON u.user_id = b.user_id
    LEFT JOIN sys_org o ON o.id = u.org_id
    WHERE  u.user_id = #{userId}
  </select>

  <select id="getSysUserRoleById" resultType="com.zimug.imooc.websky.baseauth.api.model.SysUserRoleOrg">
    SELECT u.* ,b.role_names,b.role_ids,o.org_name
    FROM sys_user u
    LEFT JOIN
    (
    SELECT GROUP_CONCAT(role_name) role_names,GROUP_CONCAT(ur.role_id) role_ids,ur.user_id
    FROM sys_user_role ur
    JOIN sys_role r ON ur.role_id = r.role_id
    GROUP BY ur.user_id
    ) b ON u.user_id = b.user_id
    LEFT JOIN sys_org o ON o.id = u.org_id
    WHERE  u.id = #{id}
  </select>


  <select id="listUserWithRoleOrg" resultType="com.zimug.imooc.websky.baseauth.api.model.SysUserRoleOrg">
    SELECT u.* ,b.role_names,b.role_ids,o.org_name
    FROM sys_user u
    LEFT JOIN
    (
        SELECT GROUP_CONCAT(role_name) role_names,GROUP_CONCAT(ur.role_id) role_ids,ur.user_id
        FROM sys_user_role ur
        JOIN sys_role r ON ur.role_id = r.role_id
        GROUP BY ur.user_id
    ) b ON u.user_id = b.user_id
    LEFT JOIN sys_org o ON o.id = u.org_id
    <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
      <if test="userId !=null and userId != '' " >
        AND  u.user_id  LIKE CONCAT('%',#{userId},'%')
      </if>
      <if test="userName !=null and userName != '' " >
        AND  u.user_name LIKE CONCAT('%',#{userName},'%')
      </if>
      <if test="orgId !=null and orgId != '' " >
        AND  u.org_id = #{orgId}
      </if>
      <if test="phone !=null and phone != '' " >
        AND  u.phone LIKE CONCAT('%',#{phone},'%')
      </if>
      <if test="sex != null" >
        AND  u.sex = #{sex}
      </if>
      <if test="email !=null and email != '' " >
        AND  u.email = #{email}
      </if>
      AND u.status != 3
    </trim>
  </select>


</mapper>