<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zimug.imooc.websky.common.mapper.SysDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.zimug.imooc.websky.common.model.SysDictionary" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="dic_code" property="dicCode" jdbcType="VARCHAR" />
    <result column="dic_class" property="dicClass" jdbcType="VARCHAR" />
    <result column="dic_property" property="dicProperty" jdbcType="VARCHAR" />
    <result column="dic_value" property="dicValue" jdbcType="VARCHAR" />
    <result column="dic_name" property="dicName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, dic_code, dic_class, dic_property, dic_value, dic_name, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zimug.imooc.websky.common.model.SysDictionaryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_dictionary
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_dictionary
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zimug.imooc.websky.common.model.SysDictionaryExample" >
    delete from sys_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zimug.imooc.websky.common.model.SysDictionary" useGeneratedKeys="true" keyProperty="id">
     insert into sys_dictionary (ID, dic_code, dic_class,
      dic_property, dic_value, dic_name, 
      remark)
    values (#{id,jdbcType=INTEGER}, #{dicCode,jdbcType=VARCHAR}, #{dicClass,jdbcType=VARCHAR}, 
      #{dicProperty,jdbcType=VARCHAR}, #{dicValue,jdbcType=VARCHAR}, #{dicName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zimug.imooc.websky.common.model.SysDictionary" >
    insert into sys_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="dicCode != null" >
        dic_code,
      </if>
      <if test="dicClass != null" >
        dic_class,
      </if>
      <if test="dicProperty != null" >
        dic_property,
      </if>
      <if test="dicValue != null" >
        dic_value,
      </if>
      <if test="dicName != null" >
        dic_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dicCode != null" >
        #{dicCode,jdbcType=VARCHAR},
      </if>
      <if test="dicClass != null" >
        #{dicClass,jdbcType=VARCHAR},
      </if>
      <if test="dicProperty != null" >
        #{dicProperty,jdbcType=VARCHAR},
      </if>
      <if test="dicValue != null" >
        #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="dicName != null" >
        #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zimug.imooc.websky.common.model.SysDictionaryExample" resultType="java.lang.Integer" >
    select count(*) from sys_dictionary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_dictionary
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dicCode != null" >
        dic_code = #{record.dicCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dicClass != null" >
        dic_class = #{record.dicClass,jdbcType=VARCHAR},
      </if>
      <if test="record.dicProperty != null" >
        dic_property = #{record.dicProperty,jdbcType=VARCHAR},
      </if>
      <if test="record.dicValue != null" >
        dic_value = #{record.dicValue,jdbcType=VARCHAR},
      </if>
      <if test="record.dicName != null" >
        dic_name = #{record.dicName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_dictionary
    set ID = #{record.id,jdbcType=INTEGER},
      dic_code = #{record.dicCode,jdbcType=VARCHAR},
      dic_class = #{record.dicClass,jdbcType=VARCHAR},
      dic_property = #{record.dicProperty,jdbcType=VARCHAR},
      dic_value = #{record.dicValue,jdbcType=VARCHAR},
      dic_name = #{record.dicName,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zimug.imooc.websky.common.model.SysDictionary" >
    update sys_dictionary
    <set >
      <if test="dicCode != null" >
        dic_code = #{dicCode,jdbcType=VARCHAR},
      </if>
      <if test="dicClass != null" >
        dic_class = #{dicClass,jdbcType=VARCHAR},
      </if>
      <if test="dicProperty != null" >
        dic_property = #{dicProperty,jdbcType=VARCHAR},
      </if>
      <if test="dicValue != null" >
        dic_value = #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="dicName != null" >
        dic_name = #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zimug.imooc.websky.common.model.SysDictionary" >
    update sys_dictionary
    set dic_code = #{dicCode,jdbcType=VARCHAR},
      dic_class = #{dicClass,jdbcType=VARCHAR},
      dic_property = #{dicProperty,jdbcType=VARCHAR},
      dic_value = #{dicValue,jdbcType=VARCHAR},
      dic_name = #{dicName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>