<% layout("/templates/layout/_container.html"){ %>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="menuInfoForm">

            <input type="hidden" id = "menuPid">
            <div class="row">
                <#input id="name" label="菜单名称"/>
                <#input id="url" label="请求地址"/>
                <#buttoninput id="menuName" label="父菜单选择" clickFun="MenuInfoDlg.openMenuZtree()" />
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MenuInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MenuInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="${ctxPath}/static/module/baseauth/menu_manage_info.js"></script>
<% } %>
