<% directive dynamic;
layout("/templates/layout/_container.html"){ %>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="roleInfoForm">
            <input id="id" type="hidden" value="${role.id}"/>

            <div class="row">
                <#input id="roleId" label="角色ID" value="${role.roleId}"/>
                <#input id="roleName" label="角色名称" value="${role.roleName}"/>
                <#input id="remarks" label="备注" value="${role.remarks}"/>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="RoleInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="RoleInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="${ctxPath}/static/module/baseauth/role_manage_info.js"></script>
<% } %>
