<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.aexit.galaxy.websky.baseauth.api.mapper.SysDictionaryExtMapper" >

    <sql id="Base_Column_List" >
        ID,dic_code,dic_class,dic_property,dic_value,dic_name,remark
    </sql>

    <select id="listDictionary" resultType="net.aexit.galaxy.websky.common.model.SysDictionary">
        SELECT
        <include refid="Base_Column_List" />
        FROM sys_dictionary
        <trim prefix="WHERE" prefixOverrides="AND|OR" suffixOverrides="AND|OR">
            <if test="dicClass !=null and dicClass != '' " >
                AND  dic_class LIKE CONCAT('%',#{dicClass},'%')
            </if>
            <if test="dicValue !=null and dicValue != '' " >
                AND  dic_value = ${dicValue}
            </if>

        </trim>
    </select>

</mapper>