<% directive dynamic;
layout("/templates/layout/_container.html"){%>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="datasourceInfoForm">

            <input type="hidden" id="id" value="">

            <div class="row">
                <#input id='dbFlag' label='标志'/>
                <#input id='dbName' label='数据库名称'/>
                <#input id='dbType' label='数据库类型'/>
                <#input id='dbRw' label='数据库读写类型'/>
                <#input id='conUrl' label='链接url'/>
                <#input id='conIp' label='链接ip'/>
                <#input id='conPort' label='连接端口'/>
                <#input id='conUsername' label='用户名'/>
                <#input id='conPassword' label='密码'/>
                <#input id='conTimeout' label='链接超时时间设置'/>
                <#input id='poolMaxtotal' label='连接池最大容量'/>
                <#input id='poolMaxidle' label='链接池内最大空闲链接数量'/>
                <#input id='poolMinidle' label='连接池内最小空闲链接数量'/>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DatasourceInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DatasourceInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/module/baseauth/datasource/datasource_info.js"></script>
<%}%>
