<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.aexit.galaxy.websky.common.mapper.SysDbMapper" >
  <resultMap id="BaseResultMap" type="net.aexit.galaxy.websky.common.model.SysDb" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="db_flag" property="dbFlag" jdbcType="VARCHAR" />
    <result column="db_name" property="dbName" jdbcType="VARCHAR" />
    <result column="db_type" property="dbType" jdbcType="VARCHAR" />
    <result column="db_rw" property="dbRw" jdbcType="VARCHAR" />
    <result column="con_url" property="conUrl" jdbcType="VARCHAR" />
    <result column="con_ip" property="conIp" jdbcType="VARCHAR" />
    <result column="con_port" property="conPort" jdbcType="INTEGER" />
    <result column="con_username" property="conUsername" jdbcType="VARCHAR" />
    <result column="con_password" property="conPassword" jdbcType="VARCHAR" />
    <result column="con_timeout" property="conTimeout" jdbcType="INTEGER" />
    <result column="pool_maxtotal" property="poolMaxtotal" jdbcType="INTEGER" />
    <result column="pool_maxidle" property="poolMaxidle" jdbcType="INTEGER" />
    <result column="pool_minidle" property="poolMinidle" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, db_flag, db_name, db_type, db_rw, con_url, con_ip, con_port, con_username, con_password, 
    con_timeout, pool_maxtotal, pool_maxidle, pool_minidle
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.aexit.galaxy.websky.common.model.SysDbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_db
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_db
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_db
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.aexit.galaxy.websky.common.model.SysDbExample" >
    delete from sys_db
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.aexit.galaxy.websky.common.model.SysDb" >
    insert into sys_db (id, db_flag, db_name, 
      db_type, db_rw, con_url, 
      con_ip, con_port, con_username, 
      con_password, con_timeout, pool_maxtotal, 
      pool_maxidle, pool_minidle)
    values (#{id,jdbcType=INTEGER}, #{dbFlag,jdbcType=VARCHAR}, #{dbName,jdbcType=VARCHAR}, 
      #{dbType,jdbcType=VARCHAR}, #{dbRw,jdbcType=VARCHAR}, #{conUrl,jdbcType=VARCHAR}, 
      #{conIp,jdbcType=VARCHAR}, #{conPort,jdbcType=INTEGER}, #{conUsername,jdbcType=VARCHAR}, 
      #{conPassword,jdbcType=VARCHAR}, #{conTimeout,jdbcType=INTEGER}, #{poolMaxtotal,jdbcType=INTEGER}, 
      #{poolMaxidle,jdbcType=INTEGER}, #{poolMinidle,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="net.aexit.galaxy.websky.common.model.SysDb" >
    insert into sys_db
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dbFlag != null" >
        db_flag,
      </if>
      <if test="dbName != null" >
        db_name,
      </if>
      <if test="dbType != null" >
        db_type,
      </if>
      <if test="dbRw != null" >
        db_rw,
      </if>
      <if test="conUrl != null" >
        con_url,
      </if>
      <if test="conIp != null" >
        con_ip,
      </if>
      <if test="conPort != null" >
        con_port,
      </if>
      <if test="conUsername != null" >
        con_username,
      </if>
      <if test="conPassword != null" >
        con_password,
      </if>
      <if test="conTimeout != null" >
        con_timeout,
      </if>
      <if test="poolMaxtotal != null" >
        pool_maxtotal,
      </if>
      <if test="poolMaxidle != null" >
        pool_maxidle,
      </if>
      <if test="poolMinidle != null" >
        pool_minidle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dbFlag != null" >
        #{dbFlag,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbType != null" >
        #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="dbRw != null" >
        #{dbRw,jdbcType=VARCHAR},
      </if>
      <if test="conUrl != null" >
        #{conUrl,jdbcType=VARCHAR},
      </if>
      <if test="conIp != null" >
        #{conIp,jdbcType=VARCHAR},
      </if>
      <if test="conPort != null" >
        #{conPort,jdbcType=INTEGER},
      </if>
      <if test="conUsername != null" >
        #{conUsername,jdbcType=VARCHAR},
      </if>
      <if test="conPassword != null" >
        #{conPassword,jdbcType=VARCHAR},
      </if>
      <if test="conTimeout != null" >
        #{conTimeout,jdbcType=INTEGER},
      </if>
      <if test="poolMaxtotal != null" >
        #{poolMaxtotal,jdbcType=INTEGER},
      </if>
      <if test="poolMaxidle != null" >
        #{poolMaxidle,jdbcType=INTEGER},
      </if>
      <if test="poolMinidle != null" >
        #{poolMinidle,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.aexit.galaxy.websky.common.model.SysDbExample" resultType="java.lang.Integer" >
    select count(*) from sys_db
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_db
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dbFlag != null" >
        db_flag = #{record.dbFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.dbName != null" >
        db_name = #{record.dbName,jdbcType=VARCHAR},
      </if>
      <if test="record.dbType != null" >
        db_type = #{record.dbType,jdbcType=VARCHAR},
      </if>
      <if test="record.dbRw != null" >
        db_rw = #{record.dbRw,jdbcType=VARCHAR},
      </if>
      <if test="record.conUrl != null" >
        con_url = #{record.conUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.conIp != null" >
        con_ip = #{record.conIp,jdbcType=VARCHAR},
      </if>
      <if test="record.conPort != null" >
        con_port = #{record.conPort,jdbcType=INTEGER},
      </if>
      <if test="record.conUsername != null" >
        con_username = #{record.conUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.conPassword != null" >
        con_password = #{record.conPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.conTimeout != null" >
        con_timeout = #{record.conTimeout,jdbcType=INTEGER},
      </if>
      <if test="record.poolMaxtotal != null" >
        pool_maxtotal = #{record.poolMaxtotal,jdbcType=INTEGER},
      </if>
      <if test="record.poolMaxidle != null" >
        pool_maxidle = #{record.poolMaxidle,jdbcType=INTEGER},
      </if>
      <if test="record.poolMinidle != null" >
        pool_minidle = #{record.poolMinidle,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_db
    set id = #{record.id,jdbcType=INTEGER},
      db_flag = #{record.dbFlag,jdbcType=VARCHAR},
      db_name = #{record.dbName,jdbcType=VARCHAR},
      db_type = #{record.dbType,jdbcType=VARCHAR},
      db_rw = #{record.dbRw,jdbcType=VARCHAR},
      con_url = #{record.conUrl,jdbcType=VARCHAR},
      con_ip = #{record.conIp,jdbcType=VARCHAR},
      con_port = #{record.conPort,jdbcType=INTEGER},
      con_username = #{record.conUsername,jdbcType=VARCHAR},
      con_password = #{record.conPassword,jdbcType=VARCHAR},
      con_timeout = #{record.conTimeout,jdbcType=INTEGER},
      pool_maxtotal = #{record.poolMaxtotal,jdbcType=INTEGER},
      pool_maxidle = #{record.poolMaxidle,jdbcType=INTEGER},
      pool_minidle = #{record.poolMinidle,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.aexit.galaxy.websky.common.model.SysDb" >
    update sys_db
    <set >
      <if test="dbFlag != null" >
        db_flag = #{dbFlag,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null" >
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbType != null" >
        db_type = #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="dbRw != null" >
        db_rw = #{dbRw,jdbcType=VARCHAR},
      </if>
      <if test="conUrl != null" >
        con_url = #{conUrl,jdbcType=VARCHAR},
      </if>
      <if test="conIp != null" >
        con_ip = #{conIp,jdbcType=VARCHAR},
      </if>
      <if test="conPort != null" >
        con_port = #{conPort,jdbcType=INTEGER},
      </if>
      <if test="conUsername != null" >
        con_username = #{conUsername,jdbcType=VARCHAR},
      </if>
      <if test="conPassword != null" >
        con_password = #{conPassword,jdbcType=VARCHAR},
      </if>
      <if test="conTimeout != null" >
        con_timeout = #{conTimeout,jdbcType=INTEGER},
      </if>
      <if test="poolMaxtotal != null" >
        pool_maxtotal = #{poolMaxtotal,jdbcType=INTEGER},
      </if>
      <if test="poolMaxidle != null" >
        pool_maxidle = #{poolMaxidle,jdbcType=INTEGER},
      </if>
      <if test="poolMinidle != null" >
        pool_minidle = #{poolMinidle,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.aexit.galaxy.websky.common.model.SysDb" >
    update sys_db
    set db_flag = #{dbFlag,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR},
      db_type = #{dbType,jdbcType=VARCHAR},
      db_rw = #{dbRw,jdbcType=VARCHAR},
      con_url = #{conUrl,jdbcType=VARCHAR},
      con_ip = #{conIp,jdbcType=VARCHAR},
      con_port = #{conPort,jdbcType=INTEGER},
      con_username = #{conUsername,jdbcType=VARCHAR},
      con_password = #{conPassword,jdbcType=VARCHAR},
      con_timeout = #{conTimeout,jdbcType=INTEGER},
      pool_maxtotal = #{poolMaxtotal,jdbcType=INTEGER},
      pool_maxidle = #{poolMaxidle,jdbcType=INTEGER},
      pool_minidle = #{poolMinidle,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>